@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$colors: (
    neutral: #F1F7ED,
    secondary:#861388,
    accent: #8CFFDA,
    primary: #e4cbf3,
    text: #4B2840
);

$font-main: 'Montserrat', sans-serif;
$padding: 15px;
$borders: 15px;

@function color($color-name) {
    @return map-get($colors , $color-name);
}

body html {
 height: 100%;
}

body {
    background-color: color(neutral);
}

nav {
    background-color: color(primary);
    color: color(text);
}

main {

    div.card {
        background: color(accent);
        padding: 20px;
        margin: .5rem auto;
        border-radius: $borders;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        width: 80%;
    }
    ul {
        list-style-type: square;
        margin: 0;
        padding: 0;
    }
    li {
        margin-bottom: 10px;
    }
    section#primary {
        padding: $padding;
        text-align: center;
        color: color(text);
    }
    header {
        font-size: 2em;
        text-transform: uppercase;
        background-color: color(secondary);
    }
    .wrap {
        float: left;
        margin: 10px;
    }
    a {
        color: color(primary);
        border-radius: $borders;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        background-color: color(accent);
        display: inline-block;
        text-align: center;
        margin: 30px auto 0 auto;
        padding: $padding;
    }
}